<div class="header-logo">
    <img src="assets/img/614Foodies_Logo.png"/>  
</div>
<div class="mission-statement">
    <h1>614Foodies offers a unique experience for food lovers by providing information on the best food trucks in Columbus.</h1>
</div>
<div class="cuisine">
    <div class="breakfast">
        <button type="button" class="btn-lg btn-link" style= text-align:center>Breakfast</button>
       <!-- 
        <br>
       <img src="assets/img/breakfast.jpg"/> 
       -->
    </div>
    <div class="american">
        <button type="button" class="btn-lg btn-link">
            <a routerLink="/american" routerLinkActive="active">app-american</a></button>
    </div>
    <div class="bbq">
        <button type="button" class="btn-lg btn-link">BBQ</button>
    </div>
    <div class="healthy">
        <button type="button" class="btn-lg btn-link">Healthy</button>
    </div>
    <div class="dessert">
        <button type="button" class="btn-lg btn-link">Dessert</button>
    </div>
</div>