<!DOCTYPE html>
<html lang="en">
<head>
  <title>614Foodies</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>
<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">AMERICAN</div>
        <div class="panel-body"><img src="assets/img/AmericanLogo.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">All American meals that will melt your tastebuds!</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">BBQ</div>
        <div class="panel-body"><img src="assets/img/BBQ.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">BBQ marinated the right way!</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">BREAKFAST</div>
        <div class="panel-body"><img src="assets/img/Breakfast.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Start your day sunny side up!</div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">DESSERT</div>
        <div class="panel-body"><img src="assets/img/dessert.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Let us keep your cookie jar filled!</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">HEALTHY</div>
        <div class="panel-body"><img src="assets/img/healthy.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Eat good, feel good, look good!</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">INTERNATIONAL</div>
        <div class="panel-body"><img src="assets/img/International.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Let your taste buds travel the world! </div>
      </div>
    </div>
  </div>
</div><br><br>

<footer class="container-fluid text-center">
  <!--
  <p>Online Store Copyright</p>  
  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form>
   -->
</footer>

</body>
</html>



<!--

<div class="header-logo">
    <img src="assets/img/614Foodies_Logo.png"/>  
</div>
<div class="mission-statement">
    <h1>614Foodies offers a unique experience for food lovers by providing information on the best food trucks in Columbus.</h1>
</div>
<div class="cuisine">
    <div class="breakfast">
        <button type="button" class="btn-lg btn-link" style= text-align:center>Breakfast</button>
      
        <br>
       <img src="assets/img/breakfast.jpg"/> 
       
    </div>
    <div class="american">
        <button type="button" class="btn-lg btn-link">
            <a routerLink="/american" routerLinkActive="active">app-american</a></button>
    </div>
    <div class="bbq">
        <button type="button" class="btn-lg btn-link">BBQ</button>
    </div>
    <div class="healthy">
        <button type="button" class="btn-lg btn-link">Healthy</button>
    </div>
    <div class="dessert">
        <button type="button" class="btn-lg btn-link">Dessert</button>
    </div>
</div>
-->