<!-- 
<div class="header-logo">
    <img src="assets/img/614Foodies_Logo.png"/>  
</div>
<div class="cuisine-breakfast">
    <h1>Breakfast</h1>
</div>
<div class="foodtrucks">
    <button type="button" class="btn-lg btn-link" style= text-align:center>Holy Crepes</button>
 
        Array of Objects
        Yelp Rating 
        Food Truck Image
        URL to website or social media
   
    <br>
    <button type="button" class="btn-lg btn-link" style= text-align:center>Tupelo Doughnuts</button>
    <br>
    <button type="button" class="btn-lg btn-link" style= text-align:center>Always Eat Breakfast</button>
    <br>
    <button type="button" class="btn-lg btn-link" style= text-align:center>Early Bird Food Truck</button>
    <br>
    <button type="button" class="btn-lg btn-link" style= text-align:center>Broke Johnny Food Truck</button>
</div>
 -->
<div>
    <ul>
     <li *ngFor="let breakfasts of breakfast" (click)="displayFoodTruckInfo(breakfasts)">
     {{breakfasts.name}}
     <br>
     </li>
     </ul>
</div>

<div *ngIf="currentFoodTruck">
    <h1>{{currentFoodTruck.name}}</h1>
    <img src={{currentFoodTruck.image}}>
    <br>
    <a href={{currentFoodTruck.yelp}}>Yelp Reviews</a>
    <br>
    <a href={{currentFoodTruck.website}}>Social Media</a>
</div>

