<!-- 
<div class="header-logo">
    <img src="assets/img/614Foodies_Logo.png"/>  
</div>
<div class="cuisine-desserts">
    <h1>Dessert</h1>
</div>
<div class="foodtrucks">
    <button type="button" class="btn-lg btn-link" style= text-align:center>The Float Factory</button>
 
        Array of Objects
        Yelp Rating 
        Food Truck Image
        URL to website or social media
    <br>
    <button type="button" class="btn-lg btn-link" style= text-align:center>Sweet Cheese</button>
    <br>
    <button type="button" class="btn-lg btn-link" style= text-align:center>The Funnel Cake Station</button>
    <br>
    <button type="button" class="btn-lg btn-link" style= text-align:center>Chilljoy Frozen Treatery</button>
    <br>
    <button type="button" class="btn-lg btn-link" style= text-align:center>Graeter's Food Truck</button>
</div>
-->
<div>
    <ul>
     <li *ngFor="let desserts of dessert" (click)="displayFoodTruckInfo(desserts)">
     {{desserts.name}}
     <br>
     </li>
     </ul>
</div>

<div *ngIf="currentFoodTruck">
    <h1>{{currentFoodTruck.name}}</h1>
    <img src={{currentFoodTruck.image}}>
    <br>
    <a href={{currentFoodTruck.yelp}}>Yelp Reviews</a>
    <br>
    <a href={{currentFoodTruck.website}}>Social Media</a>
</div>
