
<!-- Routing Links that can be used to change the components-->
<ul>
  <li><a routerLink=""></a>Home</li>
  <li><a routerLink=""></a>Breakfast</li>
  <li><a routerLink=""></a>American</li>
  <li><a routerLink=""></a>BBQ</li>
  <li><a routerLink=""></a>Healthy</li>
  <li><a routerLink=""></a>app-dessert</li>
  <li><a routerLink=""></a></li>
</ul>

<app-home></app-home>
<app-breakfast></app-breakfast>
<app-american></app-american>
<app-bbq></app-bbq>
<app-healthy></app-healthy>
<app-dessert></app-dessert>

<router-outlet></router-outlet>